@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-footer {
  flex: 0 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  @include tablets {
    padding-bottom: 25px;
  }
}

.it-footer__bottom {
  @include tablets {
    margin-bottom: 15px;
  }
  @include phones {
    text-align: center;
  }
}

.it-footer__top {
  margin-bottom: 20px;
  overflow: hidden;
}

.it-footer__nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px -8px;
  overflow: hidden;
}

.it-footer__nav-item {
  list-style-type: none;
  padding-left: 0;
  margin: 0 7px 8px;

}

.it-footer__nav-link {
  text-decoration: none;
  font-size: 12px;
  color: #5B5B5C;
  display: block;
  transition: 0.2s;
}

.it-footer__nav-link:active,
.it-footer__nav-link:visited {
	color: #5B5B5C;
	text-decoration: none;
}

.it-footer__nav-link:hover {
  color: $hov;
  text-decoration: none;
}

.it-footer__center {
  margin-bottom: 30px;
  overflow: hidden;
  @include phones {
    margin-bottom: 25px;
  }
}

.it-footer__social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px -14px;
  overflow: hidden;
  align-items: center;
}

.it-footer__social-item {
  list-style-type: none;
  padding-left: 0;
  margin: 0 12px 14px;
}

.it-footer__social-link {
  text-decoration: none;
  font-size: 12px;
  color: #5B5B5C;
  display: flex;
  flex-wrap: wrap;
  transition: 0.2s;
  position: relative;
}

.it-footer__social-link:active,
.it-footer__social-link:visited {
  color: #5B5B5C;
  text-decoration: none;
}

.it-footer__social-link:hover {
  color: $hov;
  text-decoration: none;
}

.it-footer__social-link:hover .it-footer__social-text {
  color: $hov;
}

.it-footer__social-img-box {
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.it-footer__social-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-footer__social-img-box--size {
  width: 12px;
}

.it-footer__social-img--hov {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.it-footer__social-link:hover .it-footer__social-img {
  opacity: 0;
  position: absolute;
}

.it-footer__social-link:hover .it-footer__social-img--hov {
  opacity: 1;
  position: relative;
}

.it-footer__search-link {
  color: #5B5B5C;
  font-size: 12px;
  text-decoration: none;
  transition: 0.2s;
}

.it-footer__search-link:active,
.it-footer__search-link:visited {
  color: #5B5B5C;
	text-decoration: none;
}

.it-footer__search-link:hover {
	color: $hov;
	text-decoration: none;
}



.it-footer__half--right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  @include tablets {
    justify-content: flex-start;
  }
  @include phones {
    justify-content: center;
  }
}



.it-footer__mobile {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px -8px;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
  @include phones {
    justify-content: center;
  }


}

.it-footer__mobile-item {
  list-style-type: none;
  padding-left: 0;
  margin: 0 5px 8px;
  @include phones {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

.it-footer__mobile-link {
  text-decoration: none;
  display: flex;
  max-width: 125px;
  flex-grow: 1;
  padding: 8px 12px;
  background-color: #1E292D;
  border-radius: 5px;
}

.it-footer__mobile-link:active,
.it-footer__mobile-link:visited {
  text-decoration: none;
}

.it-footer__mobile-link:hover {
  text-decoration: none;
}



.it-footer__mobile-desc,
.it-footer__mobile-name {
   color: #ffffff;

 }

.it-footer__mobile-name {
  line-height: 1.2;

}


.it-footer__mobile-desc {
  font-size: 9px;
  margin-bottom: 2px;
}

.it-footer__mobile-name {
  font-weight: 700;
  font-size: 12px;
}

.it-footer__mobile-link:hover .it-footer__mobile-desc,
.it-footer__mobile-link:hover .it-footer__mobile-name {
  color: $hov;
}

.it-footer__mobile-img-box {
  display: block;
  max-width: 100%;
  height: auto;
  width: 21px;
  height: 28px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.it-footer__mobile-img {
  display: block;
  max-width: 100%;
  height: auto;
}


.it-footer__mobile-img--hov {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

}

.it-footer__mobile-link:hover .it-footer__mobile-img {
  opacity: 0;
  position: absolute;
}

.it-footer__mobile-link:hover .it-footer__mobile-img--hov {
  opacity: 1;
  position: relative;
}

.it-footer__mobile-link {
  color: #5B5B5C;
  font-size: 12px;
}

.it-footer__mobile-copy {
  color: #5B5B5C;
  font-size: 12px;
  margin-top: 20px;
  @include tablets {
    width: 100%;
  }
}

