@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.it-icon:hover {
	color: #ffffff;
	text-decoration: none;
}

.it-icon:active,
.it-icon:visited {
	color: #ffffff;
	text-decoration: none;
}

.it-icon__img-box {
  max-width: 30px;
  width: 100%;
  max-height: 30px;
  margin-right: 13px;
  overflow: hidden;
}

.it-icon__img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.it-icon__text {
  color: #ffffff;
}
