@import "../__vars";
@import "../__mixins";
@import "../smart-grid";


.it-partners {
  padding-bottom: 30px;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
  @include phones {
    display: none;
  }
}

.it-partners__title {
  font-size: rem(32px);
  color: #5C5C5C;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}

.it-partners__wrap {
  margin: 0;
  padding: 10px 9% 35px;
}

.it-partners__inner-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px -30px;
  overflow: hidden;
  justify-content: space-between;
  @include tablets {
    justify-content: center;
  }
}


.it-partners__item {
  max-width: 150px;
  max-height: 50px;
  overflow: hidden;
  margin: 0 6px 30px;
  flex-basis: 60px;
  flex-grow: 1;
  @include tablets {
    flex-basis: 120px;
  }
}

.it-partners__img {
  max-width: 100%;
  width: auto !important;
  display: block;
}





/******************* it-partners + owl *******************/

.it-partners .owl-nav .owl-prev,
.it-partners .owl-nav .owl-next {
  position: absolute;
  width: 18px;
  height: 32px;
  top: 24%;
  font-size: 0;
}

.it-partners .owl-nav .owl-prev:hover,
.it-partners .owl-nav .owl-next:hover {
  opacity: 0.5;
}

.it-partners .owl-nav .owl-prev {
  left: 0;
  transform: scale(1);
}

.it-partners .owl-nav .owl-next {
  right: 0;
  transform: scale(-1);
}

.it-partners .owl-nav .owl-prev:after,
.it-partners .owl-nav .owl-next:after {
  content: "";
  background: url("../img/rbk/partners/arrow.png")  center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.it-partners .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 10000;
  max-width: 50px;
  width: 100%;
  margin-left: -23px;
  text-align: center;
  height: 10px;

}

.it-partners .owl-dot  {
  display: inline-block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: .2s;
  margin: 0 3px;
  border: 1px solid #818181;
}

.it-partners .owl-dot.active {
  background-color: #818181;
}


