@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-prices {
  margin-bottom: 80px;
  @include tablets {
    margin-bottom: 90px;
  }
  @include phones {
    margin-bottom: 40px;
  }
}

.it-prices__decoration {
  text-align: center;
}

.it-prices__decoration-img-box {
  overflow: hidden;
  max-width: 64px;
  max-height: 64px;
  display: inline-block;

}

.it-prices__decoration-img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.it-prices__wrap {
  padding-left: 0;
  margin-bottom: 0;
}

.it-prices__half {
  list-style-type: none;
  position: relative;
  @include tablets {
    padding-top: 25px;
  }
}

.it-prices__half:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 3%;
	width: 1px;
	height: 100%;
	background: url("../img/rbk/prices/line.png") 0 0 repeat ;
  @include laptop {
    right: 1%;
  }
  @include tablets {
    position: static;
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    width: 100%;
    height: 1px;
    background: url("../img/rbk/prices/line2.png") 0 0 repeat ;
  }
}

.it-prices__inner-wrap {
  margin-bottom: 15px;
}

.it-prices__inner-wrap:last-child {
  @include tablets {
    padding-bottom: 25px;
  }
}

.it-prices__half:last-child:after {
  display: none;
}

.it-prices__title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 20px;
}

.it-prices__title-img-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 10px 10px 0;
}

.it-prices__title-img {
 display: block;
 max-width: 100%;
 width: 100%;
 height: auto;
}

.it-prices__title-city {
  color: #5B5B5C;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 6px;
  @include phones {
    font-size: 16px;
  }
}

.it-prices__title-country {
  color: #A0B0B9;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}



.it-prices__price-inner-wrap span {
  color: #00BAE8;
  font-size: 16px;
}

.it-prices__price-number {
  margin: 0 5px;
}

.it-prices__from-city {
  font-size: 16px;
  color: #4A4A4A;
}

.it-prices__inner-half {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.it-prices__inner-half--right {
  @include tablets {
    justify-content: flex-end;
  }

}

.it-prices__info {
  margin-top: 80px;
  @include tablets {
    margin-top: 40px;
  }
}

.it-prices__info-title {
  text-align: center;
  color: #4A4A4A;
  font-size: 16px;
  margin-bottom: 20px;
}

.it-prices__info-subtitle {
  color: #A0B0B9;
  font-size: 14px;
  text-align: center;
}




