@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-social {
  margin-bottom: 80px;
  background: url("../img/rbk/social/decoration.png") top  repeat-x ;
  padding-top: 35px;
  margin-bottom: 70px;
  @include laptop {
    margin-bottom: 90px;
  }
  @include phones {
    display: none;
  }

}

.it-social__title {
  color: #5C5C5C;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  @include tablets {
    text-align: center;
  }
}

.it-social__desc {
  color: #5C5C5C;
  font-size: 16px;
  @include tablets {
    text-align: center;
  }
}

.it-social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 -2px;
  margin-right: 14px;
  @include tablets {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.it-social__item {
  list-style-type: none;
  padding-left: 0;
  margin: 0 2px;
}

.it-social__link {
  text-decoration: none;
}

.it-social__link:hover {
	text-decoration: none;
}

.it-social__link:active,
.it-social__link:visited {
	text-decoration: none;
}


.it-social__img-box {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #979797;
  transition: 0.2s;
}

.it-social__img-box:hover {
  background-color: #FF8E41;
}

.it-social__img-box--indent {
  padding: 0 0 2px 2px;
}

.it-social__form {
  max-width: 330px;
  width: 100%;
  display: inline-block;
  flex-basis: 200px;
  flex-grow: 1;

}

.it-social__half--right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  @include tablets {
    justify-content: center;
  }
}

.it-social__half--left {
  @include tablets {
    margin-bottom: 25px;
  }
}

.it-social__form-wrap {
  position: relative;
}


.it-social__form-input  {
  font-size: 16px;
  padding: 5px 150px 5px 15px;
  color: #5C5C5C;
  width: 100%;
  line-height: 1.42;
  border: 1px solid #A0B0B9;
  border-radius: 2px;
  width: 100%;

}

.it-social__form-input ::-webkit-input-placeholder {
  color: #A0B0B9;
}

.it-social__form-input ::-moz-placeholder {
  color: #A0B0B9;
}

.it-social__form-input :-ms-input-placeholder {
  color: #A0B0B9;
}

.it-social__form-input :-moz-placeholder {
  color: #A0B0B9;
}

.it-btn.it-social__form-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  font-size: 16px;
  font-weight: 400;
  padding: 7px 19px;
}