@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-ways__decoration {
  text-align: center;
}

.it-ways__decoration-img-box {
  overflow: hidden;
  max-width: 64px;
  max-height: 64px;
  display: inline-block;

}

.it-ways__decoration-img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.it-ways__change-city {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
}

.it-ways__change-city-input {
  font-size: 24px;
  padding: 10px 10px;
  color: #00ACE2;
  line-height: 1.42;
  border: none;
  max-width: 100%;
  display: inline-block;
  background-color: rgba(249, 252, 255, 1);

}

.it-ways__change-city-input::-webkit-input-placeholder {
  color: #00ACE2;
}

.it-ways__change-city-input::-moz-placeholder {
  color: #00ACE2;
}

.it-ways__change-city-input:-ms-input-placeholder {
  color: #00ACE2;
}

.it-ways__change-city-input:-moz-placeholder {
  color: #00ACE2;
}

.it-ways__change-city-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.it-ways__change-city-input-wrap {
  max-width: 110px
}

.it-ways__nav {
  margin-bottom: 55px;
  overflow: hidden;

}

.it-ways__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px -20px;
  list-style-type: none;
  counter-reset: advantages-seoCounter;
  padding-left: 0;
  overflow: hidden;
  @include tablets {
    margin-left: -6px;
    margin-right: -6px;
    justify-content: space-between;
  }
}

.it-ways__nav-item {
  width: 100%;
  margin: 0 15px 20px;
  max-width: 80px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  @include tablets {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.it-ways__nav-btn {
  text-align: left;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.it-ways__nav-btn:hover {
	text-decoration: none;
}

.it-ways__nav-btn:active,
.it-ways__nav-btn:visited {
	text-decoration: none;
}

.it-ways__nav-img-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(74, 74, 74, 0.12);
  border-radius: 50%;
  margin-bottom: 15px;
}

.it-ways__nav-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-ways__nav-text {
  text-align: center;
  color: #5C5C5C;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 6px;
  font-size: 12px;
}

.it-ways__nav-item:not(.active) .it-ways__nav-text {
  color: #00ACE2;
}

.it-ways__nav-item.active:after {
	content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
	display: block;
	width: 60px;
	height: 1px;
    background-color: #00ACE2;

}

.it-ways__nav-link:hover,
.it-ways__nav-link:active,
.it-ways__nav-link:visited {
  text-decoration: none;
  color: #9FA3B0;
}


.it-ways__list {
  padding: 0;
  margin-bottom: 95px;
  @include phones {
    margin-bottom: 45px;
  }
}

.it-ways__item {
  min-height: 300px;
  list-style-type: none;
  padding-left: 0;
  @include row-flex();
  margin-bottom: -35px;
}

.it-ways__half {
  @include col();
  @include size(6);
  @include size-sm(12);
  box-shadow: 0px 2px 12px rgba(0, 75, 93, 0.12);
  margin-bottom: 25px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  text-decoration: none;
}

.it-ways__half:hover {

	text-decoration: none;
}

.it-ways__half:active,
.it-ways__half:visited {
	text-decoration: none;
}

.it-ways__img-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  max-height: 211px;
  @include phones {
    max-height: 126px;
  }
}

.it-ways__bottom {
  padding: 20px 25px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  @include phones {
    padding: 17px 15px;
  }



}

.it-ways__bottom-half {
  width: 50%;
}

.it-ways__bottom-half--left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: -10px;
  padding-right: 10px;

}

.it-ways__bottom-img-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 18px 10px 0;
  @include phones {
    display: none;
  }
}


.it-ways__bottom-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.it-ways__bottom-info {
  margin-bottom: 10px;
  @include laptop {
    width: 100%;
  }
  @include tablets {
      width: auto;
  }
}

.it-ways__bottom-city {
  color: #5B5B5C;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 6px;
  @include phones {
    font-size: 16px;
  }
}

.it-ways__bottom-country {
  color: #A0B0B9;
  font-size: 12px;
  font-weight: 500;
}

.it-ways__bottom-price {
  text-align: right;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.it-ways__bottom-date {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  color: #A0B0B9;
}

.it-ways__bottom-price-inner-wrap {
  display: flex;
  justify-content: flex-end;
}

.it-ways__bottom-price span {
  color: #00BAE8;
  font-size: 22px;
  @include phones {
    font-size: 14px;
  }
}

.it-ways__bottom-price-number {
  margin: 0 5px;
}







//
//.it-ways__half--left:before {
//  content: '';
//  display: block;
//  position: absolute;
//  top: 50%;
//  right: 0;
//  width: 1px;
//  height: 214px;
//  margin-top: -107px;
//  background-color: rgba(0, 0, 0, 0.1);
//}
//
//.it-ways__img-box {
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: center;
//  align-items: center;
//  overflow: hidden;
//  max-width: 260px;
//  width: 100%;
//  height: 260px;
//  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.05);
//  border: 1px solid rgba(0, 0, 0, 0.05);
//  border-radius: 50%;
//}
//
//.it-ways__half--right {
//  padding: 50px 30px;
//  justify-content: flex-end;
//  align-items: center;
//}
//
//.it-ways__content {
//  color: #363636;
//  line-height: 1.3;
//  max-width: 370px;
//  width: 100%;
//}
//
//.it-ways__desc {
//  font-size: 1.125rem;
//  position: relative;
//  line-height: 1.2;
//  color: rgba(0, 0, 0, 0.5);
//
//}
//
//.it-ways__subtitle:before {
//  content: '';
//  display: block;
//  position: absolute;
//  bottom: -40px;
//  left: 0;
//  width: 100%;
//  height: 2px;
//  background-color: rgba(0, 0, 0, 0.2);
//}
//
//.it-ways__phone {
//  font-weight: 300;
//  font-size: 2.25rem;
//  margin-bottom: 50px;
//  padding-left: 60px;
//  position: relative;
//}
//
//.it-ways__phone:before {
//  content: '';
//  display: block;
//  position: absolute;
//  top: 50%;
//  left: 0;
//  width: 31px;
//  height: 31px;
//  margin-top: -15px;
//  background: url("images/shop/phone-icon.png") no-repeat center;
//}
//
//.it-ways__buttons {
//  max-width: 205px;
//  width: 100%;
//}
//
//.it-ways__item:not(.active ) {
//  display: none;
//}
//
//.it-ways__btn:before {
//  right: 28px;
//}
