section.it-all-info
	.it-container.container
		ul.it-all-info__wrap.row
			li.it-all-info__half.col-md-2
				a(href="#").it-all-info__title
					|	Страны
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
				a(href="#").it-all-info__show-all
					|	Все страны
			li.it-all-info__half.col-md-2
				a(href="#").it-all-info__title
					|	Страны
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
				a(href="#").it-all-info__show-all
					|	Все страны
			li.it-all-info__half.col-md-2
				a(href="#").it-all-info__title
					|	Страны
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
				a(href="#").it-all-info__show-all
					|	Все страны
			li.it-all-info__half.col-md-2
				a(href="#").it-all-info__title
					|	Страны
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
				a(href="#").it-all-info__show-all
					|	Все страны
			li.it-all-info__half.col-md-2
				a(href="#").it-all-info__title
					|	Страны
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
				a(href="#").it-all-info__show-all
					|	Все страны
			li.it-all-info__half.col-md-2
				a(href="#").it-all-info__title
					|	Страны
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
				a(href="#").it-all-info__show-all
					|	Все страны




