section.it-all-info
	.it-container.container.it-container--big
		ul.it-all-info__wrap.row
			li.it-all-info__half.col-md-2.col-sm-3.col-6
				a(href="#").it-all-info__title
					|	Страны
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Россия
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Таиланд
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Черногория
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Кипр
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Болгария
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Грузия
				a(href="#").it-all-info__show-all
					span.it-all-info__show-all-text
						|    Все страны
					span.it-all-info__show-all-icon
						|    &#8594;
			li.it-all-info__half.col-md-2.col-sm-3.col-6
				a(href="#").it-all-info__title
					|	ГОРОДА
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Москва
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Санкт-Петербург
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Симферополь
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Адлер
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Екатеринбург
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Лондон
				a(href="#").it-all-info__show-all
					span.it-all-info__show-all-text
						|    Все города
					span.it-all-info__show-all-icon
						|    &#8594;
			li.it-all-info__half.col-md-2.col-sm-3.col-6
				a(href="#").it-all-info__title
					|	АВИАКОМПАНИИ
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Air Berlin
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Air France
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Alitalia
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Air Baltic
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Emirates
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	KLM
				a(href="#").it-all-info__show-all
					span.it-all-info__show-all-text
						|    Все авиакомпании
					span.it-all-info__show-all-icon
						|    &#8594;
			li.it-all-info__half.col-md-2.col-sm-3.col-6
				a(href="#").it-all-info__title
					|	АЭРОПОРТЫ
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Шереметьево
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Курумоч
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Домодедово
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Толмачево
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Владивосток
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Гамбург
				a(href="#").it-all-info__show-all
					span.it-all-info__show-all-text
						|    Все аэропорты
					span.it-all-info__show-all-icon
						|    &#8594;
			li.it-all-info__half.col-md-2.col-sm-3.col-6
				a(href="#").it-all-info__title
					|	НАПРАВЛЕНИЯ
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	MOW – SIP
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	MOW – AER
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	MOW – TIV
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	MOW – MRV
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	LED – MOW
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	MOW – BKK
			li.it-all-info__half.col-md-2.col-sm-3.col-6
				a(href="#").it-all-info__title
					|	СЕРВИСЫ
				ul.it-all-info__list
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Горящие авиабилеты
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Календарь низких цен
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Карта низких цен
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Спецпредложения
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Таблица цен
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Блог
					li.it-all-info__item
						a(href="#").it-all-info__link
							|	Помощь






