footer.it-footer
	.it-container.container.it-container--big
		.it-footer__wrap.row
			.it-footer__half.it-footer__half--left.col-md-7.col-sm-12
				.it-footer__top
					ul.it-footer__nav
						li.it-footer__nav-item
							a(href="#").it-footer__nav-link
								|	О компании
						li.it-footer__nav-item
							a(href="#").it-footer__nav-link
								|	Партнёрская программа
						li.it-footer__nav-item
							a(href="#").it-footer__nav-link
								|	Реклама
						li.it-footer__nav-item
							a(href="#").it-footer__nav-link
								|	Вакансии
						li.it-footer__nav-item
							a(href="#").it-footer__nav-link
								|	Помощь
						li.it-footer__nav-item
							a(href="#").it-footer__nav-link
								|	Правила
						li.it-footer__nav-item
							a(href="#").it-footer__nav-link
								|	White Label авиабилеты
				.it-footer__center
					ul.it-footer__social
						li.it-footer__social-item
							a(target='_blank', href='').it-footer__social-link
								.it-footer__social-img-box
									img(src="static/img/rbk/footer/social/vk.png", alt='').it-footer__social-img
									img(src="static/img/rbk/footer/social/vk-hov.png", alt='').it-footer__social-img.it-footer__social-img--hov
								.it-footer__social-text
									|	Вконтакте
						li.it-footer__social-item
							a(target='_blank', href='').it-footer__social-link
								.it-footer__social-img-box.it-footer__social-img-box--size
									img(src="static/img/rbk/footer/social/fb.png", alt='').it-footer__social-img
									img(src="static/img/rbk/footer/social/fb-hov.png", alt='').it-footer__social-img.it-footer__social-img--hov
								.it-footer__social-text
									|	Фейсбук
						li.it-footer__social-item
							a(target='_blank', href='').it-footer__social-link
								.it-footer__social-img-box
									img(src="static/img/rbk/footer/social/inst.png", alt='').it-footer__social-img
									img(src="static/img/rbk/footer/social/inst-hov.png", alt='').it-footer__social-img.it-footer__social-img--hov
								.it-footer__social-text
									|	Инстаграм
						li.it-footer__social-item
							a(target='_blank', href='').it-footer__social-link
								.it-footer__social-img-box
									img(src="static/img/rbk/footer/social/tw.png", alt='').it-footer__social-img
									img(src="static/img/rbk/footer/social/tw-hov.png", alt='').it-footer__social-img.it-footer__social-img--hov
								.it-footer__social-text
									|	Твиттер
						li.it-footer__social-item
							a(target='_blank', href='').it-footer__social-link
								.it-footer__social-img-box
									img(src="static/img/rbk/footer/social/vb.png", alt='').it-footer__social-img
									img(src="static/img/rbk/footer/social/vb-hov.png", alt='').it-footer__social-img.it-footer__social-img--hov
								.it-footer__social-text
									|	Вайбер
				.it-footer__bottom
					a(href="#").it-footer__search-link
						|	Поиск и бронирование отелей
			.it-footer__half.it-footer__half--right.col-md-5.col-sm-12
				ul.it-footer__mobile
					li.it-footer__mobile-item
						a(target='_blank', href='').it-footer__mobile-link
							.it-footer__mobile-img-box
								img(src="static/img/rbk/footer/mobile/apple.png", alt='').it-footer__mobile-img
								img(src="static/img/rbk/footer/mobile/apple-hov.png", alt='').it-footer__mobile-img.it-footer__mobile-img--hov
							.it-footer__mobile-text
								.it-footer__mobile-desc
									|	Скачайте в
								.it-footer__mobile-name
									|	App Store
					li.it-footer__mobile-item
						a(target='_blank', href='').it-footer__mobile-link
							.it-footer__mobile-img-box
								img(src="static/img/rbk/footer/mobile/play.png", alt='').it-footer__mobile-img
								img(src="static/img/rbk/footer/mobile/play-hov.png", alt='').it-footer__mobile-img.it-footer__mobile-img--hov
							.it-footer__mobile-text
								.it-footer__mobile-desc
									|	Скачайте в
								.it-footer__mobile-name
									|	Google Play
					li.it-footer__mobile-item
						a(target='_blank', href='').it-footer__mobile-link
							.it-footer__mobile-img-box
								img(src="static/img/rbk/footer/mobile/win.png", alt='').it-footer__mobile-img
								img(src="static/img/rbk/footer/mobile/win-hov.png", alt='').it-footer__mobile-img.it-footer__mobile-img--hov
							.it-footer__mobile-text
								.it-footer__mobile-name
									|	Windows
									|	Phone
				.it-footer__mobile-copy
					|	© 2007–2018, Aviasales — дешевые авиабилеты



