section.it-mobile
	.it-container
		.it-mobile__wrap
			.it-mobile__half.it-mobile__half--1
				.it-mobile__img-box
					img.it-mobile__img(src="static/img/rbk/mobile/phone.png", alt='')
			.it-mobile__half.it-mobile__half--2
				.it-mobile__title
					|	Скачай мобильное
					|	приложение Aviasales.ru
				.it-mobile__rating
					ul.it-mobile__rating-list
						li.it-mobile__rating-item
							.it-mobile__rating-img-box
								img(src="static/img/rbk/mobile/star.png", alt='').it-mobile__rating-img
						li.it-mobile__rating-item
							.it-mobile__rating-img-box
								img(src="static/img/rbk/mobile/star.png", alt='').it-mobile__rating-img
						li.it-mobile__rating-item
							.it-mobile__rating-img-box
								img(src="static/img/rbk/mobile/star.png", alt='').it-mobile__rating-img
						li.it-mobile__rating-item
							.it-mobile__rating-img-box
								img(src="static/img/rbk/mobile/star.png", alt='').it-mobile__rating-img
						li.it-mobile__rating-item
							.it-mobile__rating-img-box
								img(src="static/img/rbk/mobile/star2.png", alt='').it-mobile__rating-img
					.it-mobile__rating-text
						|	Более 103 000 оценок
			.it-mobile__half.it-mobile__half--3
				ul.it-mobile__platform
					li.it-mobile__platform-item
						a(target='_blank', href='').it-mobile__platform-link
							.it-mobile__platform-img-box
								img(src="static/img/rbk/footer/mobile/apple.png", alt='').it-mobile__platform-img
							.it-mobile__platform-text
								|    iPhone или iPad
					li.it-mobile__platform-item
						a(target='_blank', href='').it-mobile__platform-link
							.it-mobile__platform-img-box
								img(src="static/img/rbk/mobile/android.png", alt='').it-mobile__platform-img
							.it-mobile__platform-text
								|    Android
					li.it-mobile__platform-item
						a(target='_blank', href='').it-mobile__platform-link
							.it-mobile__platform-img-box
								img(src="static/img/rbk/footer/mobile/win.png", alt='').it-mobile__platform-img
							.it-mobile__platform-text
								|    Windows Phone
