section.it-partners
	.it-container
		h2.it-partners__title
			| Дешевые авиабилеты от крупнейших авиакомпаний и агентств
		ul.it-partners__wrap.owl-carousel( data-owl-items-margin="0", data-owl-carousel)
			li.it-partners__inner-wrap
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/1.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/2.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/3.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/4.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/5.png', alt='')
			li.it-partners__inner-wrap
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/5.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/2.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/3.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/2.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/1.png', alt='')
			li.it-partners__inner-wrap
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/1.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/5.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/4.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/3.png', alt='')
				.it-partners__item
					img.it-partners__img(src='static/img/rbk/partners/slider/2.png', alt='')

