section.it-prices
	.it-prices__decoration
		.it-prices__decoration-img-box
			img(src="static/img/rbk/ways/decoration.png", alt='').it-prices__decoration-img
	.it-all-title
		|	Лучшие цены на авиабилеты за последний месяц
	.it-container.container
		ul.it-prices__wrap.row
			li.it-prices__half.col-md-4.col-xs-12
				.it-prices__title
					.it-prices__title-img-box
						img(src="static/img/rbk/ways/flag.png", alt='').it-prices__title-img
					.it-prices__title-info
						.it-prices__title-city
							|	Симферополь (Крым)
						.it-prices__title-country
							|	Крым
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
			li.it-prices__half.col-md-4.col-xs-12
				.it-prices__title
					.it-prices__title-img-box
						img(src="static/img/rbk/ways/flag.png", alt='').it-prices__title-img
					.it-prices__title-info
						.it-prices__title-city
							|	Симферополь (Крым)
						.it-prices__title-country
							|	Крым
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
			li.it-prices__half.col-md-4.col-xs-12
				.it-prices__title
					.it-prices__title-img-box
						img(src="static/img/rbk/ways/flag.png", alt='').it-prices__title-img
					.it-prices__title-info
						.it-prices__title-city
							|	Симферополь (Крым)
						.it-prices__title-country
							|	Крым
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
				.it-prices__inner-wrap.row
					.it-prices__inner-half.it-prices__inner-half--left.col-6
						.it-prices__from-city
							| Из Москвы
					.it-prices__inner-half.it-prices__inner-half--right.col-6
						.it-prices__price-inner-wrap
							span.it-prices__price-text
								|    От
							span.it-prices__price-number
								|    4 813
							span.it-prices__price-text
								|    &#8381
