section.it-social
	.it-container.container.it-container--big
		.it-social__wrap.row
			.it-social__half.it-social__half--left.col-md-5.col-sm-12
				.it-social__text
					.it-social__title
						|	Хотите знать всё о скидках на авиабилеты?
					.it-social__desc
						|	Вы можете подписаться на нашу рассылку
						br
						|	через соцсети или по электронной почте.
			.it-social__half.it-social__half--right.col-md-7.col-sm-12
				ul.it-social__list
					li.it-social__item
						a.it-social__link(target='_blank', href='')
							.it-social__img-box
								img.it-social__img(src='static/img/rbk/social/icon/tw.png', alt='')
					li.it-social__item
						a.it-social__link(target='_blank', href='')
							.it-social__img-box
								img.it-social__img(src='static/img/rbk/social/icon/fb.png', alt='')
					li.it-social__item
						a.it-social__link(target='_blank', href='')
							.it-social__img-box
								img.it-social__img(src='static/img/rbk/social/icon/vk.png', alt='')
					li.it-social__item
						a.it-social__link(target='_blank', href='')
							.it-social__img-box.it-social__img-box--indent
								img.it-social__img(src='static/img/rbk/social/icon/rss.png', alt='')
				form.it-social__form(action="", method="post" data-it-form)
					.it-social__form-wrap
						input.it-social__form-input(type="email" name='social-email', maxlength='200', value='', placeholder='Ваш email', required)
						button.it-social__form-btn.it-btn
							| Подписаться
					.it-form__success
						| Спасибо!
						br
						|  Вы успешно подписаны!


