section.it-ways
	.it-container
		.it-ways__decoration
			.it-ways__decoration-img-box
				img(src="static/img/rbk/ways/decoration.png", alt='').it-ways__decoration-img
		h2.it-all-title
			| Популярные направления перелетов
			br
			| из города
			.it-ways__change-city
				.it-ways__change-city-input-wrap
					input#change-city.it-ways__change-city-input(type="text" name='city-change', maxlength='200', value='', placeholder='Москва', required)
				label.it-ways__change-city-label(for='change-city')
					.it-ways__change-city-img-box
						img(src="static/img/rbk/ways/pen.png", alt='').it-ways__change-city-img
		.it-ways__wrap
			.it-ways__nav
				ul.it-ways__nav-list(data-switch-wrap='')
					li.it-ways__nav-item.active
						a.it-ways__nav-btn(href='', data-switch='ways1')
							.it-ways__nav-img-box
								img(src="static/img/rbk/ways/nav/1.png", alt='').it-ways__nav-img
							.it-ways__nav-text
								|    Куда
								| Угодно
					li.it-ways__nav-item
						a.it-ways__nav-btn(href='', data-switch='ways2')
							.it-ways__nav-img-box
								img(src="static/img/rbk/ways/nav/2.png", alt='').it-ways__nav-img
							.it-ways__nav-text
								|    CОЛНЦЕ
								| И МОРЕ
					li.it-ways__nav-item
						a.it-ways__nav-btn(href='', data-switch='ways3')
							.it-ways__nav-img-box
								img(src="static/img/rbk/ways/nav/3.png", alt='').it-ways__nav-img
							.it-ways__nav-text
								|    ШОПИНГ
								| ГОРОД
					li.it-ways__nav-item
						a.it-ways__nav-btn(href='', data-switch='ways4')
							.it-ways__nav-img-box
								img(src="static/img/rbk/ways/nav/4.png", alt='').it-ways__nav-img
							.it-ways__nav-text
								|    КУЛЬТУРА
								| И ИСТОРИЯ
					li.it-ways__nav-item
						a.it-ways__nav-btn(href='', data-switch='ways5')
							.it-ways__nav-img-box
								img(src="static/img/rbk/ways/nav/5.png", alt='').it-ways__nav-img
							.it-ways__nav-text
								|    НОЧНАЯ
								| ЖИЗНЬ
					li.it-ways__nav-item
						a.it-ways__nav-btn(href='', data-switch='ways6')
							.it-ways__nav-img-box
								img(src="static/img/rbk/ways/nav/6.png", alt='').it-ways__nav-img
							.it-ways__nav-text
								|    Отдых
								| С ДЕТЬМИ
			ul.it-ways__list(data-tabs-wrap='')
				li.it-ways__item.active(data-tab='ways1')
					a(href="#").it-ways__half.it-ways__half--left
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/3.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Челябинск
									.it-ways__bottom-country
										|	РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|	Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|	1 300
										span.it-ways__bottom-price-text
											|	&#8381
								.it-ways__bottom-date
									|	18 марта
					a(href="#").it-ways__half.it-ways__half--right
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/4.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Сочи (Адлер)
									.it-ways__bottom-country
										|    РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|    Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|    1 334
										span.it-ways__bottom-price-text
											|    &#8381
								.it-ways__bottom-date
									|    27 марта
				li.it-ways__item(data-tab='ways2')
					a(href="#").it-ways__half.it-ways__half--left
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/3.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Краснодар
									.it-ways__bottom-country
										|	РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|	Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|	1 212
										span.it-ways__bottom-price-text
											|	&#8381
								.it-ways__bottom-date
									|	18 марта
					a(href="#").it-ways__half.it-ways__half--right
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/4.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Сочи (Адлер)
									.it-ways__bottom-country
										|    РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|    Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|    1 334
										span.it-ways__bottom-price-text
											|    &#8381
								.it-ways__bottom-date
									|    27 марта
				li.it-ways__item(data-tab='ways3')
					a(href="#").it-ways__half.it-ways__half--left
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/3.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Краснодар
									.it-ways__bottom-country
										|	РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|	Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|	1 212
										span.it-ways__bottom-price-text
											|	&#8381
								.it-ways__bottom-date
									|	18 марта
					a(href="#").it-ways__half.it-ways__half--right
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/4.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Сочи (Адлер)
									.it-ways__bottom-country
										|    РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|    Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|    1 334
										span.it-ways__bottom-price-text
											|    &#8381
								.it-ways__bottom-date
									|    27 марта
				li.it-ways__item(data-tab='ways4')
					a(href="#").it-ways__half.it-ways__half--left
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/3.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Новосибирск
									.it-ways__bottom-country
										|	РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|	Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|	1 000
										span.it-ways__bottom-price-text
											|	&#8381
								.it-ways__bottom-date
									|	18 марта
					a(href="#").it-ways__half.it-ways__half--right
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/4.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Анапа
									.it-ways__bottom-country
										|    РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|    Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|    1 700
										span.it-ways__bottom-price-text
											|    &#8381
								.it-ways__bottom-date
									|    27 марта
				li.it-ways__item(data-tab='ways5')
					a(href="#").it-ways__half.it-ways__half--left
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/3.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Краснодар
									.it-ways__bottom-country
										|	РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|	Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|	1 212
										span.it-ways__bottom-price-text
											|	&#8381
								.it-ways__bottom-date
									|	18 марта
					a(href="#").it-ways__half.it-ways__half--right
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/4.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Сочи (Адлер)
									.it-ways__bottom-country
										|    РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|    Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|    1 334
										span.it-ways__bottom-price-text
											|    &#8381
								.it-ways__bottom-date
									|    27 марта
				li.it-ways__item(data-tab='ways6')
					a(href="#").it-ways__half.it-ways__half--left
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/3.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Краснодар
									.it-ways__bottom-country
										|	РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|	Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|	1 212
										span.it-ways__bottom-price-text
											|	&#8381
								.it-ways__bottom-date
									|	18 марта
					a(href="#").it-ways__half.it-ways__half--right
						.it-ways__img-box
							img.it-ways__img(src='static/img/rbk/ways/content/4.jpg', alt='')
						.it-ways__bottom
							.it-ways__bottom-half.it-ways__bottom-half--left
								.it-ways__bottom-img-box
									img.it-ways__bottom-img(src="static/img/rbk/ways/flag.png", alt='')
								.it-ways__bottom-info
									.it-ways__bottom-city
										| Сочи (Адлер)
									.it-ways__bottom-country
										|    РОССИЯ
							.it-ways__bottom-half.it-ways__bottom-half--right
								.it-ways__bottom-price
									span.it-ways__bottom-price-text
										|    Найти от
									.it-ways__bottom-price-inner-wrap
										span.it-ways__bottom-price-number
											|    1 334
										span.it-ways__bottom-price-text
											|    &#8381
								.it-ways__bottom-date
									|    27 марта
