section.it-ways
	.it-container
		.it-ways__decoration
			.it-ways__decoration-img-box
				img(src="", alt='').it-ways__decoration-img
		h2.it-all-title
			| Популярные направления перелетов из города
			input#change-city.it-ways__change-city(type="text" name='city-change', maxlength='200', value='', placeholder='Москва', required)
			label.it-ways__change-city-label(for='change-city')
				.it-ways__change-city-img-box
					img(src="", alt='').it-ways__change-city-img
		.it-ways__wrap
			.it-ways__nav
				ul.it-ways__nav-list(data-switch-wrap='')
					li.it-ways__nav-item.active
						a.it-ways__nav-btn(href='', data-switch='advantages1')
							.it-ways__nav-img-box
								img(src="", alt='').it-ways__nav-img
							.it-ways__nav-text
								|    Куда
								| Угодно
			ul.it-ways__list(data-tabs-wrap='')
				li.it-ways__item.active(data-tab='advantages1')
					.it-ways__half.it-ways__half--left
						.it-ways__img-box
							img.it-ways__img(src='/wp-content/themes/divi-child-s-master/img/seo/advantages-seo/1.png', alt='')
					.it-ways__half.it-ways__half--right
						.it-ways__content
							h3.it-ways__title
								| Неограниченный список ключевых фраз
							.it-ways__desc
								| Ваш продукт могут искать сотнями разных способов. И мы сделаем так, чтобы нашли.
				li.it-ways__item(data-tab='advantages2')
					.it-ways__half.it-ways__half--left
						.it-ways__img-box
							img.it-ways__img(src='/wp-content/themes/divi-child-s-master/img/seo/advantages-seo/2.png', alt='')
					.it-ways__half.it-ways__half--right
						.it-ways__content
							h3.it-ways__title
								| Трафик по приоритетным продуктам
							.it-ways__desc
								| Мы следим за объемом и структурой трафика. Приоритетные направления получают
								| трафик раньше и больше, чтобы сразу начать окупать продвижение.
				li.it-ways__item(data-tab='advantages3')
					.it-ways__half.it-ways__half--left
						.it-ways__img-box
							img.it-ways__img(src='/wp-content/themes/divi-child-s-master/img/seo/advantages-seo/3.png', alt='')
					.it-ways__half.it-ways__half--right
						.it-ways__content
							h3.it-ways__title
								| Конверсионные
								| страницы
							.it-ways__desc
								| Анализируем ваши продукты и компанию, конкурентов, полностью перестраиваем
								| систему убеждения, чтобы страницы не просто получали трафик, а конвертировали
								| его в клиентов.

							li.it-ways__item(data-tab='advantages5')
								.it-ways__half.it-ways__half--left
									.it-ways__img-box
										img.it-ways__img(src='/wp-content/themes/divi-child-s-master/img/seo/advantages-seo/5.png', alt='')
								.it-ways__half.it-ways__half--right
									.it-ways__content
										h3.it-ways__title
											| Продающие тексты
										.it-ways__desc
											| Мы не пишем «сеошные тексты» и не используем нечестные маркетинговые приемы. Мы
											| последовательно и аргументированно рассказываем, чем ваш продукт лучше, не
											| создавая при этом завышенных ожиданий.

							li.it-ways__item(data-tab='advantages6')
								.it-ways__half.it-ways__half--left
									.it-ways__img-box
										img.it-ways__img(src='/wp-content/themes/divi-child-s-master/img/seo/advantages-seo/6.png', alt='')
								.it-ways__half.it-ways__half--right
									.it-ways__content
										h3.it-ways__title
											| Качественные ссылки и
											| крауд-маркетинг
										.it-ways__desc
											| Сформируем пул естественных ссылок,
											| полезных при продвижении.